.filter-container{
    display: flex;
    align-items: center;
    .search-container{
        margin: 20px;
        .search-content{
            display: flex;
            &-input{
                width: auto;
                margin-right: 5px;
            }
        }
    }
    .gender-container{
        display: flex;
        flex-direction: column;
        margin: 20px;
        .gender-content{
            display: flex;
            &-input{
                width: auto;
                margin-right: 5px;
            }
        }
    }
    .reset-container{
        display: flex;
        flex-direction: column;
        margin: 20px
    }
    label{
        font-size: small;
        margin-bottom: 3px;
    }
}